@media (max-width: 768px){
  // .app-main{
  //   margin-top: 50px!important;
  //   height: calc(100% - 50px)!important;
  // }
  .scroll-container{
    display: none!important;
  }
  #user_body{
    margin-top:0!important;
    height:100%!important;
  }
  #user_head{
    background-color: transparent;
    border-bottom: 0;
  }
  .mobile_bbtn{
    width: 100%;
    margin-top: 15px;
  }
  ul{
    -webkit-padding-start: 10px;
  }
}
