@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  letter-spacing: 0.6px;
  font-size: 14px;
}

p{
  margin: 0;
}
img{
  max-width: 100%;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.text-center{
  text-align: center;
}

.app-container {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  // height: 100%;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-white {
  color: #fff;
}

.container {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.crumbs {
  margin-bottom: 20px;
}

/*VueEditor */

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

//icon
.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

/*BaseForm*/

.form-box {
  width: 600px;
  max-width: 100%;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

/*sidebar*/

.el-submenu__title i{
  color: white !important;
}

/*editor富文本编辑*/

.quill-editor:not(.bubble) .ql-container .ql-editor {
  min-height: 10rem;
  padding-bottom: 1rem;
}

/*tab消息*/

.mess .el-table__body-wrapper{
  overflow: auto;
}
.el-tabs__header .el-badge__content.is-fixed
{
  top: 10px;
  right: 5px;
}

/*笔记折叠面版*/
.notes .el-collapse-item__header{
  height: auto;
}

/*element上传组件*/
.el-upload,.el-upload-dragger{
  max-width: 100%;
}

/* picture-input上传组件*/

.preview-container > canvas.picture-preview{
  background-color: rgb(237, 248, 247);
}
.preview-container > div.picture-inner{
  border: .11em dashed rgba(66,66,66,.15);
}



/*重点提示div框(非弹窗)*/
.tipbox{
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  /* color: #207773; */
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.tip-warning{
  background: #fdf6ec;
  color: #e6a23c;
}

.list-gbtn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  .el-select{
    width: 128px;
    input{
      border-radius: 50px;
    }
  }
}

.to-left{
  float: left!important;
}
.cropper-bg{
  width: 100%!important;
}
// .el-dialog__body .cropper-hidden{
//   display: none !important;
// }

.ques_header{
  padding: 5px 0px;
  display: flex;
  align-items: center;
  width: 320px;
  overflow: hidden;

  .header_right{
    padding-left: 5px;
    font-size: 14px;
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
 }

 .icon-update{
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  padding: 2px;
  color: #666;
  &:hover{
    color: #409EFF;
  }
}

 .icon-delete{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  padding: 2px;
  color: #666;
  &:hover{
    background: #F56C6C;
    color: #fff;
  }
}

.cut_item{
  position: relative;
  .el-card__body>b{
    position: absolute;
    left: -1px;
    top: -1px;
    display: inline-block;
    background: #52bab5;
    width: 30px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #fff;
    border-radius: 0 0 10px 0;
  }
}
.ques-list{
  margin-bottom: 20px;
  .ques-list_item{
    margin-bottom: 15px;
    width: 100%;
    .ques_box{
      border: 1px solid #ebeef5;
      border-left: 0;
      border-right: 0;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
      padding: 15px 10px 5px;
      position: relative;

      .header_time{
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #888
      }
      .ques_body{
        margin-bottom: 10px;
        padding: 5px 10px;
        line-height: 28px;
        &>b{
          position: absolute;
          left: -1px;
          top: -1px;
          display: inline-block;
          background: #52bab5;
          width: 30px;
          height: 27px;
          text-align: center;
          line-height: 27px;
          color: #fff;
          border-radius: 0 0 10px 0;
        }
       }
      .ques_footer{
        padding: 12px 0px 5px;
        border-top: 1px solid #ebeef5;
        .el-tag{
          height: 27px;
          line-height: 27px;
          float: right;
          margin-top: -5px;
        }
        .ques_footer_num{
          font-size: 13px;
          margin: 0px 20px 0 3px;
          display: inline-block;
          color: #888;
          position: relative;
          top: -1px;
        }
        .international-icon{
          color: #9da5b3;
          font-size: 20px
        }
      }
      .ques_title{
        font-size: 15px;
        margin-bottom: 7px;
        margin-top: 5px;
        display: block;
      }
      .ques_answer{
        line-height: 1.5em;
        font-size: 14px;
        margin-bottom: 0;
        padding: 11px;
        border-radius: 2px;
        color: #52bab5;
        max-height: 96px;
      }
    }
  }
}

.ques-list .ques-list_item .ques_box{
  padding-top: 26px;
  .ques_body{
    max-height: 200px;
    overflow: hidden;
    transition: .5s;
  }
  .downMore{
    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -22px;
    border-radius: 0 0 3px 3px;
    transition: 0s
  }
}

// 题友box
.friend-box .icon-collect,.profile-header .icon-collect,.ques_box .icon-collect{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #c1c1c1;;
    border-radius: 50%;
    padding: 0 1px 1px 0;
    cursor: pointer;
    box-shadow: 0 0 1px #000;
}

.people{
  padding: 25px 35px 25px 10px;
}

.friend-box{
  margin-bottom: 15px;
  position: relative;

  .friend-top{
    width: 100%;
    height: 200px;
    background: center no-repeat;
    background-size: cover;
  }
  .friend-body{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    .peo-right{
      margin-left: 23px;
      line-height: 32px;
      flex-grow: 1;
      width: 0;
      overflow: hidden;
      b{
        font-size: 17px;
      }
    }
    img{
      // border: 1px solid #fff;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(151,151,151,0.58);
      // position: absolute;
      // top: -50px;
      // left:  calc(50% - 50px);
    }
    p{
      color: #888;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
}

.big-box1200{
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}
.Hpipei{
  border-bottom: 1px solid #5cc1c0;
  padding: 10px 0;
  margin-bottom: 25px;
}
// 关注按钮
.toAttention{
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  [class^=el-icon-]{
    font-weight: bold
  }
}

.top-search{
  display: flex;
  width: 600px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  .el-input__inner{
    border-radius: 50px;
  }
  .el-button{
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 70px;
  }
}

/* 滑动组件*/
.ques-list{
  .slider-container{
    padding-top: 22px;
    margin-bottom: 15px;
    .slider-wrapper{
      align-items: flex-start!important;
    }
    .slider-pagination-bullets{
      bottom: unset!important;
      top: 1px;
      .slider-pagination-bullet{
        width: 15px;
        height: 15px;
      }
      .slider-pagination-bullet-active{
          background-color: #52bab5!important;
      }
    }
  }
}
.myslide-box{
  width: 100%!important;
  .ql-toolbar.ql-snow{
    white-space: initial;
  }
}

.loading-box{
  margin: 30px 0 20px;
  text-align: center;
  color: #888;
}

.note_d-edit{
  position: fixed;
  right: 10%;
  bottom: 10%;
  .el-button{
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(151, 151, 151, 0.58);
  }
  .tototop i{
    transform: rotate(90deg);
    color:#409EFF;
  }
}
.crop-pic .el-dialog__body{
  padding: 0 20px;
}

// TABS 的占宽
.is_stretch
{
  .el-tabs__nav {
    min-width: 100%;
    display: flex;
  }
  .el-tabs__nav >* {
    flex: 1;
    text-align: center;
  }
}
.sys-notes,.sys-article,.ques_body{
    p{
    margin: 5px 0 !important;
    line-height: 1.4em !important;
    font-size: 15px;
  }
}
// .ques_body{
//     p{
//     margin: 10px 0!important;
//     line-height: 1.5em!important;
//     font-size: 15px;
//   }
// }
// p
.ql-editor{
  p{
    margin: 5px 0!important;
    line-height: 1.5em!important;
    font-size: 15px;
  }
}
// p
.note_d-content{
  p{
    margin: 20px 0!important;
    line-height: 1.5em!important;
    font-size: 15px;
  }
}

.home-h4{
  text-align: center;
  margin: 28px 0 16px;
  font-size: 18px;
}

// wangediter 的编辑器改写样式
.divWangeditor{
  .w-e-toolbar{
    flex-wrap: wrap;
    background: #fff!important;
    .w-e-menu{
      z-index: 10!important;
      &:hover{
        background: #eee;
      }
      i{
        // color: #525252;
      }
    }
  }
  .w-e-text-container{
    z-index: 9!important;
    height: initial!important;
    min-height: 150px;
    .w-e-panel-container{
      max-width: 100%;
      margin-left: 0!important;
      transform: translateX(-50%);
    }
    .w-e-text{
      padding: 10px;
      overflow-y: auto;
      min-height: 150px;
    }
  }
}
.crop-demo-btn {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  margin-left: 30px;
  background-color: #409eff;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px auto 0;
  cursor: pointer;
}
.crop-input {
  position: absolute;
  width: 100px;
  height: 36px;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  // display: none;
}
.upbtn-group{
  text-align: center;
}
// 系统管理
.de-more{
  position: absolute;
  right: 20px;
  top: 25px;
}
.voice-input-button-wrapper{
  width: 42px;
  height: 42px;
  background-color: #52bab5;
  border-radius: 50%;
  margin: 5px auto 0;
}
.htitle{
  border-left: 4px solid #52bab5;
  padding-left: 8px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.actor-down .el-dropdown-menu__item.is-disabled{
  color: #f56c6c;
}
@media (min-width: 769px)
{
  .toShow{
    display: none!important;
  }
  .header-title{
    display: none!important;
  }
  .app-main::-webkit-scrollbar{width:6px;}
  .app-main::-webkit-scrollbar-track{background-color:#fff;border-radius: 10px;}
  .app-main::-webkit-scrollbar-thumb{background-color:rgba(144,147,153,.5);border-radius: 10px;}
  .app-main::-webkit-scrollbar-thumb:hover {background-color: rgba(144,147,153,.7)}
  .app-main::-webkit-scrollbar-thumb:active {background-color:#F56C6C}
}
/*移动端*/
@media (max-width: 768px)
{
  ul.el-menu--horizontal{
    background: #52bab5;
    border: 0;
    // box-shadow: 0 0 1px 0px #52bab5;
  }
  .hamburger-container{
    float: right!important;
    fill: #fff;
  }
  .header-title{
    display: inline-block!important;
    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 99;
    line-height: 50px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    height: 50px;
  }
  .navbar .app-breadcrumb.el-breadcrumb,.login-info-title,.login-info-list{
    display: none!important;
  }
  .login-info{
    margin-top: 0!important;
  }
  .tipbox ul{
    padding-left: 24px;
  }

  .el-form-item__label
  {
    text-align: left;
    width: 100%!important;
  }
  .el-form-item__content{
    margin-left: 0px!important;
  }
  .el-form-item{
    margin-bottom: 20px
  }
  .el-dialog{
    margin-top: 7vh!important;
  }
  .el-dialog__body{
    padding: 0px 20px 10px;
  }
  .app-container{
    padding: 10px 6px 20px;
  }
  .container{
    padding: 5px 0 10px;
    border: 0;
  }
  .el-message{
    min-width: 350px;
  }
  .tip-warning{
    line-height: 24px;
    padding: 5px 8px;
  }
  .disNone{
    display: none!important;
  }
  .friend-box{
    .friend-top{
      height: 100px;
    }
    .friend-body{
      padding: 5px 5px 5px;
      img{
        height: 80px;
        width: 80px;
        top: -40px;
        left:  calc(50% - 40px);
      }
      b{
        font-size: 15px;
      }
      p{
        font-size: 12px;
      }
   }
  }
  .el-card__body{
    padding: 10px;
  }
  .ques-list {
    .ques-list_item {
     .ques_box{
      .ques_body,.ques_body p{
        line-height: 26px;
        font-size: 14px;
        }
      }
    }
  }
  .de-more{
    right: 5px;
    top: 10px;
  }
  .systom-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2e323f;
    padding: 8px 0 5px;
    svg{
      width: 17px!important;
      height: 17px!important;
      font-size: 17px!important;
      margin: 0 0 8px!important;
      fill: #fff!important;
      color: #fff;
    }
    p{
      font-size: 10px;
    }
  }
}
