@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  letter-spacing: 0.6px;
  font-size: 14px;
}

p{
  margin: 0;
}
img{
  max-width: 100%;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  // font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.text-center{
  text-align: center;
}

.app-container {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  // height: 100%;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-white {
  color: #fff;
}

.container {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.crumbs {
  margin-bottom: 20px;
}

/*VueEditor */

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

//icon
.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

/*BaseForm*/

.form-box {
  width: 600px;
  max-width: 100%;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

/*sidebar*/

.el-submenu__title i{
  color: white !important;
}

/*editor富文本编辑*/

.quill-editor:not(.bubble) .ql-container .ql-editor {
  min-height: 10rem;
  padding-bottom: 1rem;
}

/*tab消息*/

.mess .el-table__body-wrapper{
  overflow: auto;
}
.el-tabs__header .el-badge__content.is-fixed
{
  top: 10px;
  right: 5px;
}

/*笔记折叠面版*/
.notes .el-collapse-item__header{
  height: auto;
}

/*element上传组件*/
.el-upload,.el-upload-dragger{
  max-width: 100%;
}

/* picture-input上传组件*/

.preview-container > canvas.picture-preview{
  background-color: rgb(237, 248, 247);
}
.preview-container > div.picture-inner{
  border: .11em dashed rgba(66,66,66,.15);
}



/*重点提示div框(非弹窗)*/
.tipbox{
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  /* color: #207773; */
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.tip-warning{
  background: #fdf6ec;
  color: #e6a23c;
}

.list-gbtn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  .el-select{
    width: 128px;
    input{
      border-radius: 50px;
    }
  }
}

.to-left{
  float: left!important;
}
.cropper-bg{
  width: 100%!important;
}
// .el-dialog__body .cropper-hidden{
//   display: none !important;
// }

.ques_header{
  padding: 5px 0px;
  display: flex;
  align-items: center;
  width: 320px;
  overflow: hidden;

  .header_right{
    padding-left: 5px;
    font-size: 14px;
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
 }

 .icon-update{
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  padding: 2px;
  color: #666;
  &:hover{
    color: #409EFF;
  }
}

 .icon-delete{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  padding: 2px;
  color: #666;
  &:hover{
    background: #F56C6C;
    color: #fff;
  }
}

.cut_item{
  position: relative;
  .el-card__body>b{
    position: absolute;
    left: -1px;
    top: -1px;
    display: inline-block;
    background: $menuBg;
    width: 30px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #fff;
    border-radius: 0 0 10px 0;
  }
}
.ques-list{
  // margin-bottom: 10px;
  .ques-list_item{
    margin-bottom: 15px;
    width: 100%;
    background-color: #fff;
    .ques_box{
      border: 1px solid #ebeef5;
      border-left: 0;
      border-right: 0;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
      padding: 15px 10px 5px;
      position: relative;

      .header_time{
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #888
      }
      .ques_body{
        margin-bottom: 10px;
        padding: 5px 10px;
        line-height: 28px;
        &>b{
          position: absolute;
          left: -1px;
          top: -1px;
          display: inline-block;
          background: $menuBg;
          width: 30px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          color: #fff;
          border-radius: 0 0 10px 0;
        }
       }
      .ques_footer{
        padding: 7px 0px 0px;
        border-top: 1px solid #ebeef5;
        .el-tag{
          height: 25px;
          line-height: 25px;
          float: right;
          margin-top: -3px;
        }
        .ques_footer_num{
          font-size: 13px;
          margin: 0px 20px 0 3px;
          display: inline-block;
          color: #888;
          position: relative;
          top: -1px;
        }
        .international-icon{
          color: #9da5b3;
          font-size: 20px
        }
      }
      .ques_title{
        font-size: 15px;
        margin-bottom: 7px;
        margin-top: 5px;
        display: block;
      }
      .ques_answer{
        line-height: 1.5em;
        font-size: 14px;
        margin-bottom: 0;
        padding: 11px;
        border-radius: 2px;
        color: $menuBg;
        max-height: 96px;
      }
    }
  }
}

.ques-list .ques-list_item .ques_box{
  padding-top: 12px;
  .ques_body{
    max-height: 200px;
    overflow: hidden;
    transition: .5s;
  }
  .downMore{
    position: absolute;
    left: 50%;
    bottom: 13px;
    margin-left: -22px;
    border-radius: 0 0 3px 3px;
    padding: 3px 10px;
    transition: 0s
  }
}

// 题友box
.friend-box .icon-collect,.profile-header .icon-collect,.ques_box .icon-collect{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #c1c1c1;;
  border-radius: 50%;
  padding: 0 1px 1px 0;
  cursor: pointer;
  box-shadow: 0 0 1px #000;
}

.people{
  padding: 25px 35px 25px 10px;
}

.friend-box{
  margin-bottom: 12px;
  position: relative;

  .friend-top{
    width: 100%;
    height: 200px;
    background: center no-repeat;
    background-size: cover;
  }
  .friend-body{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    .peo-right{
      margin-left: 23px;
      line-height: 32px;
      flex-grow: 1;
      width: 0;
      overflow: hidden;
      b{
        font-size: 17px;
      }
    }
    img{
      // border: 1px solid #fff;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(151,151,151,0.58);
      // position: absolute;
      // top: -50px;
      // left:  calc(50% - 50px);
    }
    p{
      color: #888;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
}

.big-box1200{
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.Hpipei{
  border-bottom: 1px solid #5cc1c0;
  padding: 10px 0;
  margin-bottom: 19px;
}
// 关注按钮
.toAttention{
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  [class^=el-icon-]{
    font-weight: bold
  }
}

.top-search{
  display: flex;
  width: 600px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  .el-input__inner{
    border-radius: 50px;
  }
  .el-button{
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 70px;
  }
}

/* 滑动组件*/
.ques-list{
  .slider-container{
    padding-top: 22px;
    margin-bottom: 15px;
    .slider-wrapper{
      align-items: flex-start!important;
    }
    .slider-pagination-bullets{
      bottom: unset!important;
      top: 1px;
      .slider-pagination-bullet{
        width: 15px;
        height: 15px;
      }
      .slider-pagination-bullet-active{
          background-color: $menuBg!important;
      }
    }
  }
}
.myslide-box{
  width: 100%!important;
  .ql-toolbar.ql-snow{
    white-space: initial;
  }
}

.loading-box{
  margin: 30px 0 20px;
  text-align: center;
  color: #888;
}

.note_d-edit{
  position: fixed;
  right: 10%;
  bottom: 10%;
  .el-button{
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(151, 151, 151, 0.58);
  }
  .tototop i{
    transform: rotate(90deg);
    color:#409EFF;
  }
}
.crop-pic .el-dialog__body{
  padding: 0 20px;
}

// TABS 的占宽
.is_stretch
{
  .el-tabs__nav {
    min-width: 100%;
    display: flex;
  }
  .el-tabs__nav >* {
    flex: 1;
    text-align: center;
  }
}
.sys-notes,.sys-article,.ques_body{
    p{
    margin: 5px 0 !important;
    line-height: 1.4em !important;
    // font-size: 15px;
  }
}
// .ques_body{
//     p{
//     margin: 10px 0!important;
//     line-height: 1.5em!important;
//     font-size: 15px;
//   }
// }
// p
.ql-editor{
  p{
    margin: 5px 0!important;
    line-height: 1.5em!important;
    font-size: 15px;
  }
}
// p
.note_d-content{
  p{
    margin: 20px 0!important;
    line-height: 1.5em!important;
    // font-size: 15px;
  }
}

.home-h4{
  text-align: center;
  margin: 28px 0 16px;
  font-size: 17px;
}

// wangediter 的编辑器改写样式
.divWangeditor{
  .w-e-toolbar{
    flex-wrap: wrap;
    background: #fff!important;
    .w-e-menu{
      z-index: 10!important;
      &:hover{
        background: #eee;
      }
      i{
        // color: #525252;
      }
    }
  }
  .w-e-text-container{
    z-index: 9!important;
    height: initial!important;
    min-height: 150px;
    .w-e-panel-container{
      max-width: 100%;
      margin-left: 0!important;
      transform: translateX(-50%);
    }
    .w-e-text{
      padding: 10px;
      overflow-y: auto;
      min-height: 150px;
      background-color: #fff;
    }
  }
}
.crop-demo-btn {
  display: inline-block;
  position: relative;
  line-height: 1;
  padding: 10px 20px;
  background-color: #409eff;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #409eff;
}
.crop-input {
  position: absolute;
  width: 100%;
  height: 36px;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  // display: none;
}
.upbtn-group{
  text-align: center;
  margin-top: 10px;
}
// 系统管理
.de-more{
  position: absolute;
  right: 0;
  top: 0;
}
.voice-input-button-wrapper{
  width: 42px;
  height: 42px;
  background-color: $menuBg;
  border-radius: 50%;
  margin: 5px auto 0;
  position: relative;
  z-index: 99;
}
.htitle{
  border-left: 4px solid $menuBg;
  padding-left: 8px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.actor-down .el-dropdown-menu__item.is-disabled{
  color: #f56c6c;
}

.home-container {
  .home_item{
    color: #444;
    height: 60px;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    .more_icon{
      width: 2em;
      height: 2em;
    }
    p{
      line-height: 3em
    }
  }
  .big-box1200{
    position: relative;
  }
  .top-btn_edit{
    position: absolute;
    left: 5px;
    top: 8px;
  }
  .top-btn_search{
    position: absolute;
    right: 5px;
    top: 8px;
  }
  .home-top{
    border: 1px solid #ebeef5;
    box-shadow: 0 1px 0px #dfdfdf;
    border-radius: 3px;
    background: #fff;
    display: flex;
    max-width: 100%;
    justify-content: space-around;;
    padding: 10px 5px 24px;
  }
  .top-camera{
    width: 100%;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    background: $menuBg;
    .icon-wrap{
      display: inline-block;
      height: 160px;
      width: 160px;
      background: #fff;
      border-radius: 50%;
      padding: 15px;
      margin-top: 50px;
      box-shadow: 0 1px 3px rgba(151, 151, 151, 0.58);
      position: relative;
      overflow: hidden;
      .icon-camera{
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        width: 5.5em;
        height: 5.5em;
        fill: $menuBg;
        // animation: upAndDownFast 1s ease-in-out infinite alternate;
      }
      b{
        margin-top: 7px;
        display: block;
        font-size: 16px;
        color: #369490;;
      }
      .light{
        width: 30px;
        height: 200px;
        background: #fff;
        position: absolute;
        left: -100px;
        top: -160px;
        transform: rotate(30deg);
        animation-name: down;
        animation-duration: 4000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        filter: blur(12px);
        z-index: 11;
      }
      .icon-wp{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

      }
    }
  }
  @keyframes down {
      0% {
        left: -100px;
        top: -1600px;
      }
      40%{
        left: -100px;
        top: -160px;
      }
      80%{
        left: 200px;
        top: 120px;
      }
      90%{
        left: 200px;
        top: 120px;
      }
      100%{
        left: 200px;
        top: 120px;
      }
  }
  .top-search{
    display: flex;
    width: 450px;

    .el-input__inner{
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }
    .el-button{
      border-radius: 0 4px 4px 0;
      height: 40px;
    }
  }
}
.right-menu{
  .naver-text{
    margin-left:0;
    font-size:12px;
  }
  .naver-icon{
    font-size: 16px;
    cursor: pointer;
  }
}

.test_title{
  display: flex;
  margin: 5px 0 4px;
  span{
    line-height: 1.8em;
    margin-right: 10px;
  }
  .test_index{
    margin-right: 5px;
    line-height: 1.8em;
  }
  .test_content{
    display: inline-block;
    line-height: 1.8em;
  }

}
.test_Correct{
  line-height: 27px;
  font-size: 14px;
}

.test_todo .el-carousel__item{
  overflow-y: auto;
}

.search-dialog{
  .el-dialog{
    height: 88%;
  }
  .el-dialog__body{
    position: relative;
    height: 93%;
  }
}
.tag-box{
  padding: 10px 0 25px;
  .note_tag{
    background-color: rgba(245,108,108,.1);
    border:1px solid;
    border-color: rgba(245,108,108,.2);
    color: #f56c6c;
    padding: 6px 15px;
    transition: 0.28s;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 12px;
    position: relative;
    &.note_tag-active{
      background-color: #f56c6c;
      border-color: #f56c6c;
      color: #fff;
      &::after{
        content: '';
        display: inline-block;
        position: absolute;
        right: 50%;
        bottom: -15px;
        transform: translateX(8px);
        border: solid;
        border-width: 8px;
        border-color: #f56c6c transparent transparent transparent;
      }
    }
  }
}

/*移动端*/
// app.scss
// 手机端
@import "./app.scss";
