$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #565fcf;
$yellow:rgb(253, 183, 91);
$panGreen: #30B08F;
$purple: #8371f3;
//sidebar
$menuBg:#565fcf;
// $subMenuBg:#65b6db;
$subMenuBg:rgb(114, 102, 223);
$menuHover:#473c8b;
